# Minecraft sunucu dosyaları
*.jar
cache/
logs/
world/
world_nether/
world_the_end/
libraries/
versions/
.console_history
usercache.json
banned-ips.json
banned-players.json
ops.json
whitelist.json

# Sadece config dosyalarını tutacağız
!plugins/
plugins/*
!plugins/*.yml
!plugins/*.yaml
!plugins/*/config.yml

# NexoraInfo plugin kaynak kodlarını tut
!plugins/NexoraInfo/
!plugins/NexoraInfo/**

# NexoraChat plugin kaynak kodlarını tut
!plugins/NexoraChat/
!plugins/NexoraChat/**

# NexoraKits plugin kaynak kodlarını tut
!plugins/NexoraKits/
!plugins/NexoraKits/**

# NexoraRanks plugin kaynak kodlarını tut
!plugins/NexoraRanks/
!plugins/NexoraRanks/**

# NexoraEconomy plugin kaynak kodlarını tut
!plugins/NexoraEconomy/
!plugins/NexoraEconomy/**

# NexoraShop plugin kaynak kodlarını tut
!plugins/NexoraShop/
!plugins/NexoraShop/**

# NexoraDaily plugin kaynak kodlarını tut
!plugins/NexoraDaily/
!plugins/NexoraDaily/**

# NexoraAnnouncer plugin kaynak kodlarını tut
!plugins/NexoraAnnouncer/
!plugins/NexoraAnnouncer/**

# NexoraAchievements plugin kaynak kodlarını tut
!plugins/NexoraAchievements/
!plugins/NexoraAchievements/**

# NexoraParty plugin kaynak kodlarını tut
!plugins/NexoraParty/
!plugins/NexoraParty/**
